@font-face {
    font-family: TiemposHeadline;
    src: url(../fonts/TiemposHeadline-Medium.ttf);
}

@font-face {
    font-family: TiemposText;
    src: url(../fonts/TiemposText-Regular.ttf);
}


/* Body styling */
* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    max-width: 1024px;
    margin-right: .5em;
    margin-left: .5em;
    background-color: #F7F7F5;
    color: #000000;
    --accent-color: #e84340;

    --headline-text: 'TiemposHeadline';
    --default-text: 'Inter';
    --bread-text: 'TiemposText';
}

/* Home styling */
.grid{
    display: flex;
    grid-gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.headline {
    font-family: var(--headline-text);
    font-weight: 700;
    font-size: 28px;
}

.headline.featured{
    font-size: 28px;
}

.featured-text{
    font-family: var(--default-text);
    font-weight: 300;
    font-size: 19px;
}

.post-meta {
    font-family: var(--default-text);
    font-size: 12px;
    text-transform: uppercase;
    display: flex; /* Make the post-meta section flex container */
    align-items: center; /* Center items vertically */
    flex-direction: row;
    flex-wrap: wrap;
}

.post-meta > *:not(:last-child) {
    margin-right: 5px;
}

.post-meta .author {
    font-weight: 700;
}

.post-meta .reading-time {
    font-weight: 300;
}

/* NEW ARTICLE STYLING */
.article-list{
    display: grid;
    gap: 10px;
}

.article {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr .5fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    overflow: hidden;
    background-color: #fff;
}

.article img {
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
    min-height: 150px;
    max-height: 150px; /* Fixed height for images */
    object-fit: cover; /* Maintain aspect ratio and crop if necessary */
    overflow: hidden;
}

.article.featured img.featured-image-mobile {
    display: block;
}

.article h3 {
    grid-area: 1 / 2 / 2 / 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    min-height: 100px;
}

.featured-image, div.featured-text {
    display: none;
}

hr {
    grid-area: 2 / 2 / 3 / 4;
    color: black;
    background-color: black;
    width: 100%;
    border: none;
    height: 2px;
}

.article .post-meta {
    margin-top: 1em;
    grid-area: 2 / 2 / 3 / 4;
}

a.article-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

/* Post page */
.single-post {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 5%;
}

.headline.post{
    font-size: 38px;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.post-image{
    width: 100%;
    max-width: 400px;
    margin-bottom: 3em;
    height: auto;
    border: solid 1px black;
}

.single-post a {
    color: var(--accent-color); 
    text-decoration: none;
}

.post-info{
    margin: 25px 0 25px 0;
    font-family: var(--default-text);
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.post-info .category {
    font-weight: 800;
    font-size: 13px;
} 

.post-info p {
    font-size: 24px;
    text-transform: none;
    padding: 1rem 0 0 0;
}

.single-post article p, .single-post article h4, .single-post ul, .single-post-li{
    font-family: var(--bread-text);
    font-size: 20px;
    margin: inherit;
    margin-block-start: 0;
    margin-block-end: .9rem;
    margin-bottom: 13px;
}

.single-post ul{
    padding: revert;
}

.single-post img {
    width: auto !important;
    height: auto;
    max-width: 100%;
}

blockquote{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    padding: 0 40px 40px 40px;
}

blockquote:before {
    content: "‘’";
    display: block;
    color: var(--accent-color);
    font-size: 100px;
    letter-spacing: -5px;
    margin-bottom: -20px;
    margin-left: -6px;
    margin-top: 40px;
}

blockquote.wp-block-quote p, blockquote.wp-block-quote cite {
    font-family: var(--headline-text);
    font-weight: 700;
    font-size: 38px;
}

figure.wp-block-gallery {
    display: flex;
    gap: 15px;
    margin: 13px 0 13px 0;
}

figure.wp-block-image {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    max-width: 100%;
    position: relative;
}

figcaption.wp-element-caption {
    background: linear-gradient(0deg, #000000b3, #0000004d 70%, #0000);
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
    left: 0;
    margin-bottom: 0;
    overflow: auto;
    padding: 0 8px 8px;
    position: absolute;
    scrollbar-color: #0000 #0000;
    text-align: center;
    width: 100%;
    will-change: transform;
}


/* RESPONSIVE */

@media screen and (min-width: 800px) {
    /* HOME STYLING */
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin-bottom: 10px;
    }

    .article-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .article {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 450px;
        max-height: 450px;
        overflow: hidden;
    }

    .article.featured h3 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        min-height: 120px;
    }

    .headline.featured{
        font-size: 32px;
    }

    /* Image style */
    .article img {
        width: 100%;
        height: 250px; /* Fixed height for images */
        object-fit: cover; /* Maintain aspect ratio and crop if necessary */
        margin-bottom: 10px; /* Add some spacing between image and text */
        max-height: unset;
    }

    .article.featured img {
        min-height: 450px;
        max-height: 450px;
    }

    .article.featured img.featured-image-mobile {
        display: none;
    }

    /* Title style */
    .article h3 {
        margin: 10px 10px 0 10px;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }

    hr{
        margin: 1em;
    }

    a.featured-text{
        grid-area: 1 / 1 / 2 / 2;
    }

    div.featured-text{
        display: block;
    }
    
    a.featured-image{
        grid-area: 1 / 2 / 2 / 4;
        display: block;
    }
    
    .article.featured img {
        min-height: 450px;
        max-height: 450px; /* Fixed height for images */
    }

    /* POST STYLING */
    .post-image{
        max-width: 850px;
    }
}

@media screen and (min-width: 1024px) {
    body{
        margin-left: auto;
        margin-right: auto;
    }
}

/* Hide content visually but keep it accessible to screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Share button */
.share-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px; /* Set initial height for mobile */
    border: none; /* Remove default button styling */
    background: none; /* Remove default button styling */
    cursor: pointer; /* Change cursor to pointer */
    padding: 0; /* Remove default button padding */
}

.share-button:focus {
    outline: none; /* Remove default focus outline */
}

.share-button svg {
    width: 20px; /* Set width of SVG */
    height: 20px; /* Set height of SVG */
}

@media screen and (min-width: 576px) {
    .share-button {
        height: 50px; /* Adjust height for larger screens */
    }
    
    .share-button svg {
        width: 25px; /* Adjust SVG size for larger screens */
        height: 25px; /* Adjust SVG size for larger screens */
    }
}

/* TO DO:
/* Nav styling */
/* #region Mobile menu styling */


/* #region load-in-fonts */

@font-face {
    font-family: 'Tiempos-Headline-Medium';
    src: url(/public/assets/font/TiemposHeadline-Medium.ttf);
}

@font-face {
    font-family: 'Tiempos-Headline-Regular';
    src: url(/public/assets/font/TiemposText-Regular.ttf);
}

/* #endregion */



:root {
    /* Huisstijl kleuren */

    --main-bg-color: #F7F7F5;
    --secondary-bg-color: #FFFFFF;
    --text-color: #000000;
    --accent-color: #E84340;

    /* New Accent colors */

    --secondary-accent-color: #F2D930;
    --tertiary-accent-color: #5340E8;

    /* Fonts */

    --medium-text: 'Tiempos-Headline-Medium', sans serif;
    --regular-text: 'Tiempos-Headline-Regular', sans serif;
    --content-text: 'Inter', sans serif;

}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* Fallback style */
body {
    background-color: #F7F7F5;
}

@supports (--main-bg-color : #F7F7F5) and (--text-color: #000000) {

    body {
        background-color: var(--main-bg-color);
        color: var(--text-color);
    }
}

/* Fallback style */
a {
    color: #000000;
}

@supports (--text-color: #000000) {

    a {
        text-decoration: none;
        color: var(--text-color);
    }
}

/* Fallback style */
main {
    margin-top: 10%;
}

@supports (margin: calc(10%)) {

    main {
        margin-top: calc(10%);
    }
}


ul {
    list-style: none;
}

/* #region Mobile menu styling */


@supports (display: flex) and (padding-bottom: calc(5%)) {

    .mobile-menu {
        margin: calc(5%);
        display: flex;
        justify-content: space-between;
        padding-bottom: calc(5%);
        border-bottom: solid 1px black;
    }

}


.logo-mobile {
    width: 40%;
}

@supports (display: flex) and (position: fixed) and (transform: translateX(-150%)) {
    .burger_menu_window {
        position: fixed;
        transform: translateX(-150%);
        transition: transform 0.38s cubic-bezier(0.17, 0.67, 0, 1);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 99;
        background: rgb(238, 238, 238);
        border: solid 2.5px var(--tertiary-accent-color);
        font-family: 'Inter', sans-serif;
        overflow-y: auto;
        font-size: 1.25em;
        font-weight: 800;
    }

    .close_icon {
        margin: 5%;
        border: none;
        width: 24px;
        height: 24px;
    }


    .main_pages {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        & li {
            margin: 4%;
        }
    }

    .other_pages {
        display: flex;
        flex-direction: column;
        margin-bottom: calc(10%);
        align-items: center;

        & li {
            margin: calc(5%);
        }
    }
}


.menu_icon {
    background: none;
    color: inherit;
    border: none;
    width: calc(35px);
    height: calc(35px);
}

.svg path {
    fill: white;
}


/* Fallback style */

li:hover {
    color: #E84340;
}

@supports(--accent-color :#E84340){
    li:hover {
        color: var(--accent-color);
    
    }
}

/* #endregion */

/* #region Desktop menu styling */

.desktop-menu {
    font-family: 'Inter', sans-serif;

    /*  First row styling */

    .first-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 5% 10% 5% 10%;

    }

    .current-date {
        text-transform: uppercase;
        font-weight: 700;
        flex: 1;
    }

    .logo_desktop {
        width: calc(35%);
        display: block;
        margin: 0 auto;
    }

    .logo {
        text-align: center;
        display: block;
        margin: calc(0%) auto;
    }

    .newsletter {
        flex: 1;

        & span {
            text-transform: uppercase;
            font-weight: 700;
        }

        a:hover {
            color: var(--accent-color);
        }
    }

    .newsletter_button {
        border: none;
        background: inherit;

        svg {
            transition: transform 0.3s ease-in-out;
            /* Add smooth transition on transform */
        }

        /* Apply animation on hover */
        &:hover svg {
            animation: swing 0.5s ease-in-out;
            /* Apply swing animation on hover */
        }
    }


    /* Second Row styling */

    .second-row {
        font-size: calc(0.8em);
        margin: 0% 6% 0% 6%;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
        white-space: nowrap;
    }

    .desktop-pages {
        margin: calc(1%);
        display: flex;
        justify-content: space-between;

        & a:hover {
            color: var(--accent-color);
        }
    }

}


/* #endregion */


@media (min-width: 31.25em) {
    main {
        margin-top: 7%;
    }
}

@media (min-width: 45em) {
    .logo-mobile {
        width: 20%;
    }
}

@media (max-width: 60em) {

    .desktop-menu {
        display: none;
    }

}

@media (min-width: 60.0625em) {

    nav {
        margin: 0%;
        padding-bottom: 0%;
        border-bottom: none;
        justify-content: center;
    }

    .desktop-menu {
        display: block;

        & ul {
            flex-wrap: wrap;
        }

        & .logo_desktop {
            width: calc(35% - 12.5%);
        }
    }

    .mobile-menu {
        display: none;

        .burger_menu_window {
            display: none;
        }

    }


}

@media(min-width: 67em) {


    .desktop-pages {

        flex-wrap: nowrap;

        li {
            padding: 1%;
        }

        & .logo_desktop {
            width: calc(35% - 15%);
        }
    }
}


/* #region Keyframe animations */

/* Define keyframe animation for swinging */
@keyframes swing {
    0% {
        transform: rotateZ(0);
    }

    25% {
        transform: rotateZ(-20deg);
    }

    50% {
        transform: rotateZ(2deg);
    }

    75% {
        transform: rotateZ(-5deg);
    }

    100% {
        transform: rotateZ(0);
    }
}

/* #endregion */